/* Primary Styles */
*, *::before, *::after {
    box-sizing: border-box;
 }
 
 body {
    font-family: "Times New Roman" !important;
    font-size: 1em;
    color: rgb(0, 0, 0);
    /* overflow-x: hidden; */
 }
 
 .logo{
    font-family: "Brush Script MT";
    color: #fd97b9  !important;
    font-size: 30px;
    padding:  2% 2% 2% 2%;
    margin: 5% 5% 2% 5% ;
 }
 @media only screen and (max-width:1087px){
   .logo{
      margin: 20px 50px 10px 65px !important ;
      font-size: 26px;
   } }

 @media only screen and (max-width:671px){
.logo{
   margin:70px 20px 20px 20px   !important;
} }

 .s-sidebar__nav em {
    font-style: normal;
    color: rgba(248, 248, 248, 0.87) !important;
 }
 
 .s-sidebar__nav a {
    text-decoration: none;
    color: inherit;
    color: rgba(255, 255, 255, 0.877) !important;
    border-bottom:2px groove #ff69ac;
 } 
 
 
 /* Layout */
 .s-layout {
    display: flex;
    width: 100%;
    /* min-height: 100vh; */
 }
 
/* .s-layout__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; } */
 
  
 /* Sidebar */
 .s-sidebar__trigger {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    background: #192b3c;
 }
 
 .s-sidebar__trigger > i {
    display: inline-block;
    margin: 1.5em 0 0 1.5em;
    color: #5c95ff !important;
 }
 
 .s-sidebar__nav {
    position: fixed;
    top: 0;
    left: -15em;
    overflow: hidden;
    transition: all .3s ease-in;
    width: 15em;
    height: 100%;
    background: #243e56 !important;
    color: rgba(235, 227, 227, 0.945) !important;
 }
 
 .s-sidebar__nav:hover,
 .s-sidebar__nav:focus,
 .s-sidebar__trigger:focus + .s-sidebar__nav,
 .s-sidebar__trigger:hover + .s-sidebar__nav {
    left: 0;
 }
 
 .s-sidebar__nav ul {
    margin-top:25% !important ;
    position: absolute;
    top: 4em;
    left: 0;
    margin: 0;
    padding: 0;
    width: 15em;
 }
 
 .s-sidebar__nav ul li {
    width: 100%;
 }
 
 .s-sidebar__nav-link {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 4em;
    transition: 0.5s;
 }
 
 .s-sidebar__nav-link em {
    position: absolute;
    top: 50%;
    left: 4em;
    transform: translateY(-50%);
 }
 
 .s-sidebar__nav-link:hover {
    /* background: #4d6276; */
    background: linear-gradient( 120deg,  #e43986da, #e95a9aa1);
    font-size: 16.5px;
    border-bottom:2px groove #cf6997;
}

 

 
 .s-sidebar__nav-link > i {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 4em;
    height: 4em;
 }
 
 .s-sidebar__nav-link > i::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 
 /* Mobile First */
 @media (min-width: 42em) {
    .s-layout__content {
       margin-left: 4em;
    }
    
    /* Sidebar */
    .s-sidebar__trigger {
       width: 4em;
    }
    
    .s-sidebar__nav {
       width: 4em;
       left: 0;
    }
    
    .s-sidebar__nav:hover,
    .s-sidebar__nav:focus,
    .s-sidebar__trigger:hover + .s-sidebar__nav,
    .s-sidebar__trigger:focus + .s-sidebar__nav {
       width: 15em;
    }
 }
 
 @media (min-width: 68em) {
    .s-layout__content {
       margin-left: 15em;
    }
    
    /* Sidebar */
    .s-sidebar__trigger {
       display: none
    }
    
    .s-sidebar__nav {
       width: 15em;
    }
    
    .s-sidebar__nav ul {
       top: 1.3em;
    }
 }
 
 
 @media screen and (max-width: 670px){
 .cs_fist_container{
    margin-top: 9% !important;
 } 
 .cs_search{
   margin: 1.5% 5% 5% 5% !important;
 }
} 
 @media screen and (min-width: 680px){
   .cs_search input{
      z-index: 1;
     margin: 1.5% 0% 5% 5% !important;
}
}

 .cs_heading_3{
    font-style: italic ;
    color: aliceblue;
 }
  /* .cs_search{
    margin: 1.5% 5% 5% 5% !important;
    
  
 }  */
 .cs_search input{
   background-color:rgba(235, 233, 233, 0.507) !important;
   color:rgb(255, 255, 255) !important;}
.cs_search input:hover{
   background-color:rgba(235, 233, 233, 0.733) !important;
}

 .cs_button{
    background-color: #1b8488 !important;
    color: aliceblue !important;

 }
 .cs_button:hover{
    color: #315272;
 } */
 .cs_search_input::placeholder{
    justify-content: center !important;
    align-content: center !important;
    color:white!important;

 }

 .cs_job_container{
    border-top: 5px groove #ff8fda;
    padding: 2% 2% 2% 2% !important;
    font-family: "Time New Roman" !important;
   /* background-image: url(t1.png); */
   /* background-size: 100% 100%; */
   background: linear-gradient(180deg,rgba(255, 254, 254, 0.719),rgba(185, 181, 181, 0.507)); 
    margin :0% 5% 5% 15% !important;
    width:70% !important;
    font-style:italic !important;
    color: #ffffff;
    border-radius: 2%;
    transition: 0.4s;
 }

 .cs_job_container:hover{
    box-shadow:2px 2px 2px 2px #ff027480;
    transform: scale(1.02);
 }
   
@media screen and(max-width:930px){
   .cs_skill_row{
      display: block !important;
   }
   .cs_skill_container{
      display: block !important;
   }
}
@media screen and(min-width:920px){
   .cs_skill_row{
      display: block !important;
   }
}
 
 .cs_company_name{
   border-right: 2px groove rgb(255, 255, 255);
 }

 .skill_container {
    margin-top:1.5% !important;
   width: 100%;
   background-color: rgb(192, 192, 192);
   height: 13px;
   border-radius: 5%;
  
 }
 
 .skills {
    font-size: 12px !important;
   text-align: right;
   color: white; 
   margin-left: -25% !important;
  
   
 }
 
 .skill1 {width: 90%; background-color: #c51162; height: 13px;margin-left: -7% !important ; }
 .skill2 {width: 65%; background-color: #d500f9 ;  height: 13px;margin-left: -7% !important; }
 .skill3 {width: 80%; background-color:#00bfa5; height: 13px;margin-left: -7% !important; }
 .skill4 {width: 60%; background-color:#ff8a65   ;  height: 13px;margin-left: -7% !important; }

 .cs_skill_row{
    padding:2% 2% 2% 2% ;
 }

 .cs_job_button{
    background-color: #e2257a !important;
    margin-left:5% !important;  
    width: 20% !important;
 }
 .cs_job_button:hover{
    background-color: #8f2c59 !important;
 }
 /* /* .cs_skill_name{
    width: fi;
    height: fit-content;
   background: linear-gradient(180deg,rgba(255, 254, 254, 0.719),  #e43986da)!important; 
 } */
.cs_company_name h5{
   color: white !important;
   width: 75% !important;
   background: linear-gradient(180deg,rgba(255, 254, 254, 0) 50%, #e65998  50%)!important; 
}
.cs_heading_3{
   margin-left: 30%;
   width: 40% !important;
   background: linear-gradient(180deg,rgba(255, 254, 254, 0) 50%, #e65998  50%)!important;
}
 .btn-primary:focus,
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover{
    box-shadow: none!important;
    outline: 0;
}
 
@media  only screen and (max-width:770px) {
   .cs_company_name{border-right: none !important;}

   .skill_container{
      width: 80% !important;
      margin: 0% 5% 0% 5% !important;    
   }
   .skills{
      
      width: 80% !important;
      margin: 0% 5% 0% 5% !important;
      margin-left: -7% !important;

   }
   .cs_skill_name{
      margin-left: 5%;
     }   
   

}

.cs_f_image{
   
   width:70% !important;
   height: 20% !important;
}
.cs_job_detail{
   margin: 5% 5% 5% 15% !important;
   padding:  5% 5% 5% 5% !important;
   font-size: 17px !important;
   width: 70% !important;
   height: 150% !important;
   background: linear-gradient(180deg,rgba(255, 254, 254, 0.575),rgba(185, 181, 181, 0.507)) !important; 
   transition: 0.5s;
   color:rgba(255, 255, 255, 0.678);
   border-radius:5% !important;
}
.job_para{
   transition: 0.4s;
   border-radius: 2% !important;
   border-left: 1.5px dashed  #e2257a!important;
  
}
.job_para:hover{
   color: #315272;
}

.cs_job_detail:hover{
   background: linear-gradient(180deg,rgba(255, 254, 254, 0.719),rgba(185, 181, 181, 0.507)) !important; 
}
.cs_jobdetail_skill{
   margin:0% 0% 0% -1% !important;
   width: 70% !important;
   
}

